@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
.btn {
  cursor: pointer;
  border-radius: 40px;
}

.btn-transparent {
  border: 2px solid white;
  background: transparent;
}

.small {
  font-size: 1.1rem;
}

.med {
  font-size: 1.5rem;
}

.big {
  font-size: 2rem;
}

.xl {
  font-size: 2.5rem;
}

.xxl {
  font-size: 3rem;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 1.5rem 0;
}

.my-3 {
  margin: 2rem 0;
}

.my-b1 {
  margin: 0 0 .5rem;
}

.my-b2 {
  margin: 0 0 1rem;
}

.my-b3 {
  margin: 0 0 1.5rem;
}

.default {
  margin: 17vh 0 4vh 0;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 1.5rem 1rem;
}

.py-3 {
  padding: 2rem 1rem;
}

.py-b1 {
  padding: 0 0 1rem;
}

.py-b2 {
  padding: 0 0 1.5rem;
}

.py-b3 {
  padding: 0 0 2rem;
}

:root {
  --dark-blue: #31708E;
  --medium-blue: #5085A5;
  --light-blue: #97bbd3;
  --false-white: #f7f7f7;
  --accent:  #687864;
  --false-black: rgb(17, 17, 17);
}

body {
  font-family: 'Lato', Helvetica, sans-serif;
  background: var(--false-white);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  background: var(--medium-blue);
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-family: 'Lato', sans-serif;
  z-index: 3;
}

header .top-fly {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  width: 100%;
}

header .top-fly .brand {
  -ms-flex-preferred-size: 38%;
      flex-basis: 38%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--medium-blue);
  color: white;
}

header .top-fly .brand .telly {
  display: none;
}

header .top-fly .brand .menu-wrap {
  display: none;
}

header .top-fly .call {
  -ms-flex-preferred-size: 62%;
      flex-basis: 62%;
  background: var(--dark-blue);
  border-radius: 0 0 0 10px;
  position: relative;
}

header .top-fly .call button {
  position: absolute;
  top: 20%;
  right: 15%;
  color: white;
  padding: 10px 60px;
  font-size: 1.1rem;
  width: 50%;
  opacity: .9;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

header .top-fly .call button:hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

header nav {
  background: var(--medium-blue);
  height: 7vh;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

header nav ul a {
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  color: white;
  padding: 15px 0;
  font-size: 1.15rem;
  opacity: .8;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

header nav ul a:hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  bottom: 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: black;
  width: 100%;
  height: 4vh;
  color: white;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

footer .left-footer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 2px;
  height: 100%;
}

footer .middle-footer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  padding-top: 2px;
}

footer .middle-footer a {
  color: white;
  text-decoration: none;
}

footer .right-footer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  padding-top: 2px;
}

footer .right-footer a {
  color: white;
}

footer .right-footer a:first-child {
  margin-right: 2rem;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 500vw;
  -webkit-transform: rotate(90deg) translateY(-100vh);
          transform: rotate(90deg) translateY(-100vh);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.outer-wrapper {
  width: 100vh;
  height: 100vw;
  -webkit-transform: rotate(-90deg) translateX(-100vh);
          transform: rotate(-90deg) translateX(-100vh);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}

.slide {
  width: 100vw;
  margin: 17vh 0;
}

.landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 51vh;
  font-family: 'Lato', sans-serif;
}

.landing-left {
  width: 100%;
  -webkit-box-flex: 1.75;
      -ms-flex: 1.75;
          flex: 1.75;
  background: url("https://images.unsplash.com/photo-1532996122724-e3c354a0b15b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80") center no-repeat;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  color: white;
}

.landing-left::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: black;
  opacity: .6;
}

.landing-left > * {
  z-index: 01;
}

.landing-left button {
  padding: 10px 30px;
  opacity: .8;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.landing-left button:hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.landing-left a {
  text-decoration: none;
  color: white;
}

.landing-right {
  width: 100%;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: var(--accent);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.landing-right h1 {
  color: white;
}

.landing-right .service-links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.landing-right .service-links .bubble-top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.landing-right .service-links .bubble-top img {
  width: 25%;
  border-radius: 50%;
}

.landing-right .service-links .bubble-top h3 {
  color: #dddddd;
}

.landing-right .service-links .bubble-top:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.landing-right .service-links .bubble-top:hover h3 {
  color: white;
}

.landing-right .service-links .bubble-bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.landing-right .service-links .bubble-bottom img {
  width: 25%;
  border-radius: 50%;
}

.landing-right .service-links .bubble-bottom h3 {
  color: #dddddd;
}

.landing-right .service-links .bubble-bottom:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.landing-right .service-links .bubble-bottom:hover h3 {
  color: white;
}

article {
  width: 100%;
  height: 100%;
}

article .intro {
  height: 29vh;
  width: 80vw;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  line-height: 1.5;
  font-family: 'Lato', sans-serif;
}

article .intro i {
  background: var(--light-blue);
  border-radius: 50%;
  padding: 5px;
}

.landing-split {
  height: 80vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-split .landing-inner-left {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  color: white;
  height: 100%;
  width: 100%;
  text-align: center;
  position: relative;
}

.landing-split .landing-inner-left img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}

.landing-split .landing-inner-left h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

.landing-split .landing-inner-left:after {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: .6;
  background: black;
  content: '';
}

.landing-split .landing-inner-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  line-height: 1.4;
}

.landing-split .landing-inner-right .section-top {
  height: 100%;
  width: 100%;
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  background: var(--accent);
  padding: 2rem 4rem;
  position: relative;
}

.landing-split .landing-inner-right .section-top p {
  color: var(--false-black);
}

.landing-split .landing-inner-right .section-top button {
  padding: 4px 25px;
  border: 3px solid white;
  position: absolute;
  bottom: 10%;
  right: 15%;
  font-size: 1.1rem;
  opacity: .9;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.landing-split .landing-inner-right .section-top button:hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.landing-split .landing-inner-right .section-top a {
  text-decoration: none;
  color: white;
}

.landing-split .landing-inner-right .section-bottom {
  height: 100%;
  width: 100%;
  background: var(--medium-blue);
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
  padding: 3rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.landing-split .landing-inner-right .section-bottom .subs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-split .landing-inner-right .section-bottom .subs .sub {
  overflow: hidden;
}

.landing-split .landing-inner-right .section-bottom .subs .pipe {
  background: black;
  height: 80%;
  width: 5px;
  margin: 0 7px;
}

.about-landing-split {
  height: 80vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-landing-split .about-landing-left {
  -ms-flex-preferred-size: 37.5%;
      flex-basis: 37.5%;
  color: white;
  height: 100%;
  width: 100%;
  text-align: center;
  position: relative;
  display: block;
}

.about-landing-split .about-landing-left img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}

.about-landing-split .about-landing-left h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

.about-landing-split .about-landing-left:after {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: .6;
  background: black;
  content: '';
}

.about-landing-split .about-landing-right {
  -ms-flex-preferred-size: 62.5%;
      flex-basis: 62.5%;
  background: var(--medium-blue);
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-landing-split .about-landing-right ul {
  list-style: none;
}

.contact-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80vh;
  width: 100vw;
}

.contact-content .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: 60%;
  border: 3px solid black;
  border-radius: 35px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: var(--false-white);
  padding: 1rem 0;
}

.contact-content .contact-left {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  margin: 0;
}

.contact-content .contact-left form {
  width: 100%;
}

.contact-content .contact-left .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact-content .contact-left .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  width: 80%;
}

.contact-content .contact-left .column label {
  font-weight: bold;
}

.contact-content .contact-left .column input {
  width: 80%;
}

.contact-content .contact-left .column input:focus {
  outline: none;
}

.contact-content .contact-left .message-box label {
  display: block;
  text-align: left;
  font-weight: bold;
}

.contact-content .contact-left .message-box input:focus {
  outline: none;
}

.contact-content .contact-left .message-box textarea {
  display: block;
  text-align: left;
  width: 90%;
}

.contact-content .contact-left .message-box textarea:focus {
  outline: none;
}

.contact-content .contact-left .message-box button {
  display: block;
  border: 3px solid black;
  width: 30%;
  font-weight: bold;
  padding: 5px 20px;
}

.contact-content .contact-right {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-content .contact-right #map {
  height: 70%;
  width: 70%;
  margin-bottom: 10px;
}

@media (max-width: 1025px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .nav-bar, header .call, header .brand img {
    display: none;
  }
  header .top-fly .brand {
    position: relative;
  }
  header .top-fly .brand .telly {
    display: inline-block;
    position: absolute;
    top: 35%;
    left: -30%;
  }
  header .top-fly .brand .telly i {
    font-size: 2rem;
  }
  header .top-fly .brand .menu-wrap {
    display: inline-block;
    position: absolute;
    top: 35%;
    left: 0%;
  }
  header .top-fly .brand h1 {
    text-align: center;
    white-space: nowrap;
  }
  .slide {
    margin: 0;
    width: 100vw;
  }
  .landing {
    margin: 74px 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
  .landing-left {
    padding: 30px 0;
  }
  .landing-right h1 {
    text-align: center;
  }
  .landing-right h1 a {
    font-size: 1.5rem;
  }
  article {
    height: auto;
    padding: 15px 0;
  }
  .landing-split {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
  .landing-split .landing-inner-left {
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
    height: 30%;
    position: relative;
  }
  .landing-split .landing-inner-right {
    -ms-flex-preferred-size: 67%;
        flex-basis: 67%;
  }
  .landing-split .landing-inner-right button {
    display: none;
  }
  .landing-split .landing-inner-right .section-bottom {
    height: 100%;
  }
  .about-landing-split {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-landing-split .about-landing-left {
    height: 100%;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    height: 100%;
  }
  .about-landing-split .about-landing-right {
    padding: 15px 0;
    height: auto;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .about-landing-split .about-landing-right h1 {
    font-size: 1.5rem;
  }
  .about-landing-split .about-landing-right li {
    font-size: 1.1rem;
  }
  .contact-content {
    height: 100%;
    width: 100%;
    margin: 2rem 0 4rem;
  }
  .contact-content .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-content .contact-right {
    height: 100%;
  }
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    -webkit-transform: rotate(0deg) translateY(0vh);
            transform: rotate(0deg) translateY(0vh);
    -webkit-transform-origin: unset;
            transform-origin: unset;
  }
  .outer-wrapper {
    width: 100vw;
    height: 100vh;
    -webkit-transform: rotate(0deg) translateX(0vh);
            transform: rotate(0deg) translateX(0vh);
    -webkit-transform-origin: unset;
            transform-origin: unset;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
  }
}

@media (max-width: 600px) {
  header {
    width: 100vw;
    -webkit-box-shadow: 0 1px 1px 1px var(--medium-blue);
            box-shadow: 0 1px 1px 1px var(--medium-blue);
  }
  header .top-fly {
    width: 100vw;
  }
  header .top-fly .brand {
    margin: 0;
  }
  header .top-fly .brand h1 {
    font-size: 3rem;
    margin: 0;
  }
  header .top-fly .brand .menu-wrap {
    position: absolute;
    top: 20%;
    left: 120%;
  }
  header .top-fly .brand .telly {
    display: block;
    position: absolute;
    top: 35%;
    left: 110%;
  }
  header .top-fly .brand .telly i {
    color: white;
    font-size: 1.7rem;
  }
  .wrapper {
    overflow-x: hidden;
  }
  footer {
    font-size: .7rem;
  }
  footer .left-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .middle-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .right-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .landing-right {
    text-align: center;
  }
  .landing-right h1 {
    text-align: center;
  }
  article .intro {
    padding: 10px;
    font-size: 1rem;
    height: 100%;
    line-height: 1.2;
    word-spacing: 2px;
    display: block;
  }
  .slide .landing-split button {
    display: none;
  }
  .slide .landing-inner-right .section-top {
    text-align: center;
  }
  .slide .landing-inner-right .section-bottom {
    height: 100%;
    display: block;
    padding: 30px 10px;
  }
  .slide .landing-inner-right .section-bottom .sub {
    font-size: 1rem;
  }
  .about-landing-split {
    height: 100%;
  }
  .about-landing-split .about-landing-right {
    padding: 30px 10px 0;
    color: black;
  }
  .about-landing-split .about-landing-right h1 {
    font-size: 1.7rem;
    margin: 0 0 .3rem;
  }
  .about-landing-split .about-landing-right li {
    font-size: 1.1rem;
    color: var(--false-black);
  }
  .contact-content {
    height: 100%;
  }
  .contact-content .contact .contact-left {
    padding: 0 10px;
    width: 100%;
  }
  .contact-content .contact .contact-left form {
    width: 100%;
  }
  .contact-content .contact .contact-left form .row {
    text-align: center;
  }
  .contact-content .contact .contact-left form .message-box textarea {
    width: 100%;
  }
  .contact-content .contact .contact-left form .message-box button {
    width: 50%;
  }
  .contact-content .contact-right {
    display: none;
  }
}

@media (max-width: 400px) {
  header .top-fly {
    width: 100vw;
  }
  header .top-fly .brand {
    margin: 0;
    position: relative;
  }
  header .top-fly .brand h1 {
    font-size: 1.6rem;
    margin-left: 0;
  }
  header .top-fly .brand .menu-wrap {
    position: absolute;
    top: 11%;
    left: 115%;
  }
  header .top-fly .brand .telly {
    position: absolute;
    top: 35%;
    left: 105%;
  }
  .slide .landing {
    margin: 60px 0 10px;
  }
  .slide .landing-right {
    height: auto;
    width: 100vw;
    padding: 1.5rem 0;
    margin: 0 auto;
  }
  .slide .landing-right h1 {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .slide .landing-right .service-links {
    width: 100vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .slide .landing-right .service-links a {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .slide .landing-right .service-links a img {
    display: none;
  }
  .about-landing-split .about-landing-right {
    height: 100%;
  }
  footer .left-footer p {
    font-size: .5rem;
  }
  footer .middle-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .right-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=clean.css.map */